body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  max-width: 70%;
  background: #fff9f7;
  color: #755858;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-weight: normal;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
img {
  display: block;
  margin: auto;
  padding: 15px 0;
}
a {
  font-size: 18px;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #755858;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}
button {
  font-size: 16px;
  font-weight: bolder;
  padding: 15px 20px;
  color: #fff9f7;
  border: 1px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(to right, #6f4e37d7 0%, #ac876ed7 100%);
  display: block;
  margin: 20px auto;
  box-shadow: 1px 2px 5px #aa8f7dd7;
  transition: all 200ms ease-in-out;
}
button:hover {
  border: 1px solid #6f4e37d7;
  color: #6f4e37d7;
  background: #fff9f7;
  cursor: pointer;
}
.main-content {
  display: grid;
  border: 5px double #6f4e37d7;
  border-radius: 4px;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
  padding: 30px;
}
.heading {
  background-color: #6f4e37d7;
  border-radius: 4px;
  padding: 50px;
  color: #fff9f7;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer {
  font-size: 18px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.name {
  opacity: 0.9;
}
